.campaigns__list {
  background: #ffffff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
}

.campaigns__list-row {
  display: flex;
  flex-direction: row;
  padding: 11px 20px;
  flex-wrap: wrap;
}

.campaigns__list-header {
  background: #f1f1f4;
  display: flex;
  flex-direction: row;
  padding: 11px 20px;
  flex-wrap: wrap;
}

.campaigns__list-row > div {
  min-height: 20px;
  margin: 24px 10px 24px 0;
}

.campaigns__list-header > div {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: #556789;
  margin: 0;
}

.campaigns__list-row > div:nth-child(1) {
  flex: 15;
}

.campaigns__list-row > div:nth-child(2) {
  flex: 30;
}

.campaigns__list-row > div:nth-child(3) {
  flex: 15;
}

.campaigns__list-row > div:nth-child(4) {
  flex: 40;
}

.campaign__title {
  display: flex;
}

.campaign__title img {
  height: 40px;
  width: 40px;
}

.campaign__title > div {
  margin-left: 14px;
}

.campaign__title-name {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #556789;
}

.campaign__title-region {
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #9ca2b7;
}

.campaigns__actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.campaigns__pricing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.campaigns__actions > div {
  margin-right: 10px;
}

.campaign__date--normal {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #2b416c;
}

.campaign__date--italic {
  font-family: Roboto;
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #7788a3;
}
@media (max-width: 480px) {
  .campaigns__list-header {
    display: none;
  }
}

@media (max-width: 801px) {
  .campaigns__list-header {
    display: none;
  }

  .campaigns__list-row {
    border-bottom: 1px solid #e2e2e2;
  }
}

.campaigns__message {
  text-align: center;
  padding: 10px 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #2b416c;
}
