.price-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price-details button {
  margin-top: 55px;
  border: 2px solid #181b34;
  background-color: white;
  padding: 14px 22px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #181b34;
  cursor: pointer;
}

.price-details img {
  width: 137px;
  height: 137px;
}

.price-details__header {
  display: flex;
  align-items: flex-end;
  align-self: flex-start;
}

.price-details__name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #2b416c;
  padding-left: 10px;
  padding-bottom: 14px;
}

.price-details__region {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #9ca2b7;
  padding-left: 10px;
}

.price-details__content {
  padding-top: 30px;
}

.price-details__content-heading {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #2b416c;
}

.price-details__item {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  min-width: 360px;
}

.price-details__item :nth-child(1) {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #7788a3;
}

.price-details__item :nth-child(2) {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #556789;
}
