.segmented-buttons__container {
  display: flex;
  border-bottom: 1px solid #f1f1f4;
  margin: 40px 0;
}

.segmented-buttons__item {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  color: #556789;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.segmented-buttons__item--active {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #83a515;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 4px solid #83a515;
  cursor: pointer;
}

@media (max-width: 801px) {
  .segmented-buttons__item {
    font-size: 14px;
    padding-bottom: 7px;
    text-align: center;
  }

  .segmented-buttons__item--active {
    font-size: 14px;
    border-bottom: 2px solid #83a515;
    padding-bottom: 7px;
    text-align: center;
  }
}
