.icon-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  cursor: pointer;
}

.icon-button > span {
  margin-top: 5px;
  margin-left: 6px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #7788a3;
}
